@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: white; //primary-color is oour own variable name
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.849);
}
header.container {
    display: flex;
    padding-right: 3em;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    padding: 5px 10%;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #24252a;
    border: 2px solid black;
}

.cta {
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
    margin-right: 0;
    padding: 9px;
    padding-right: 1em;
    padding-left: 1em;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

.navbar-logo {
    width: 70px;
    height: 70px;
    border-radius: 3em;
    margin-left: 5em;
    margin-right: 2em;
}

.primary-nav {
    margin-right: 15em;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    text-decoration: none;
    list-style-type: none;

    li {
        padding-right: 2em;
        padding-left: 2em;
        justify-content: space-between;
        white-space: nowrap;
        

        a {
            transition: all 0.3s ease 0s;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.884);
        }
        a:hover {
            color: #0088a9;
        }
    }
}

.secondary-nav {
    list-style: none;
    justify-content: flex-end;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;

    li {
        padding-right: 2em;
        padding-left: 2em;
        justify-content: space-between;
        white-space: nowrap;
    }
    a {
        transition: all 0.3s ease 0s;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.884);
    }
    a:hover {
        color: #0088a9;
    }
}

//hero section
.hero-container{
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
}

.hero-left-col{
    text-align:center;
}

#logo-upper-text{
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}

#first-caption{
    font-family: Alfa Slab One;
    padding-top: 0.1em;
    font-size: 25px;
    
    ;
    
}

#second-caption{
    font-family: Alfa Slab One;
    color: #7B8181;
    padding-top: 0.4em;
}

p{
    font-family: "Poppins";
}

#account-prompt{
    margin-bottom: 0;
}
#signup-cta{
    font-family: "Poppins";
    text-decoration: underline;
}

#sheraz{
    width: 18em;
    height: 18em;
    border-radius: 3em;
}

//login form

.hero-right-col{
    position: relative;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    margin-left: 7em;
    margin-top: 3em;
    width: 25em;
    background: #24252a;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(87, 86, 86);
  }
  .hero-right-col h1{
    text-align: center;
    padding: 20px 0;
    font-family: "Poppins";
    color: whitesmoke;
    border-bottom: 1px solid #7B8181;
  }
  .hero-right-col form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border-color: #a6a6a6;
  }
  input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }

.features-container{
    margin-top: 5em;
    background-color: #24252a;
}

//testimonials

.testimonials-section {
    color: white;
    padding-top: 10em;

    li {
        background: #24252a;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
        

        img {
            width: 8em;
            height: 8em;
            border: 5px solid #24252a;
            border-radius: 50%;
            margin-top: -4.5em;
        }
    }

}

footer{
  //relative to static kiya.
  position: static;
  bottom: 0px;
  width: 100%;
  background: #24252a;
  margin-top: 10em;
}
.main-content{
  display: flex;
  color: white;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #1174d1;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #1174d1;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #1174d1;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #1174d1;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #1174d1;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
