@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --primary-color: white;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  background-color: #e4e9f7;
}

header.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  padding: 5px 10%;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #24252a;
  border: 2px solid black;
}

.cta {
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  margin-right: 0;
  padding: 9px;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.navbar-logo {
  width: 70px;
  height: 70px;
  border-radius: 3em;
  margin-left: 5em;
  margin-right: 2em;
}

.primary-nav {
  margin-right: 15em;
  margin-left: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  list-style-type: none;
}

.primary-nav li {
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  white-space: nowrap;
}

.primary-nav li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.884);
}

.primary-nav li a:hover {
  color: #0088a9;
}

.secondary-nav {
  list-style: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.secondary-nav li {
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  white-space: nowrap;
}

.secondary-nav a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.884);
}

.secondary-nav a:hover {
  color: #0088a9;
}

footer {
  position: static;
  bottom: 0px;
  width: 100%;
  background: #24252a;
  margin-top: 0;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.main-content .box {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #1174d1;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #1174d1;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #1174d1;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right form .msg {
  margin-top: 10px;
}

.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #1174d1;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right form .btn button:hover {
  background: #000;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}

.bottom center span {
  color: #656565;
}

.bottom center a {
  color: #1174d1;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #667071;
  padding: 6px 14px;
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 84px;
  margin-bottom: 299px;
}

.sidebar.open {
  width: 250px;
  margin-top: 84px;
  margin-bottom: 299px;
}

.sidebar .logo-details {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 22px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 100px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #5f5f5f;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 22px;
  background: #555555;
  color: #fff;
}

.sidebar li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #667071;
}

.sidebar li a:hover {
  background: #24252a;
}

.sidebar li a .links_name {
  color: black;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
}

.sidebar li i {
  height: 100px;
  line-height: 100px;
  font-size: 18px;
  border-radius: 12px;
}

h2 {
  padding-bottom: 0em;
}

.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  max-width: 1269.2px;
  top: 0px;
  left: 200px;
  width: calc(100% - 78px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}

.links_name {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  padding-left: 0.5em;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.logo-details p {
  font-family: Alfa Slab One;
  color: black;
  padding-top: 0.4em;
  font-size: 1.1em;
  text-align: center;
  padding-left: 1.35em;
}

.home-section h2 {
  padding-top: 1em;
  padding-bottom: 0.7em;
  padding-left: 25.5em;
}

.search-container {
  margin-left: 24em;
  margin-top: 0.5em;
}

.searchbox {
  float: left;
  padding-left: 7em;
}

input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 14px;
  border: none;
}

.searchbox button {
  color: white;
  padding: 0.4em 0.5em;
  border-radius: 1.3em;
  border-color: 3px solid black;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 10px;
  margin-left: 10px;
  background: rgba(0, 136, 169, 0.8);
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.input-box button {
  color: white;
  padding: 0.4em 0.5em;
  border-radius: 1.3em;
  border-color: 3px solid black;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 10px;
  background: rgba(0, 136, 169, 0.8);
  font-size: 0.85em;
  border: none;
  cursor: pointer;
}

.searchbox button:hover {
  background: #222222;
}

.input-box button:hover {
  background: #222222;
}

.input-box {
  border-radius: 1em;
  margin-top: 0;
  padding-bottom: 0.5em;
}

.search-results-heading {
  margin-left: 10em;
}

.search-results {
  font-size: 1em;
  font-weight: normal;
  border: 1px solid black;
  padding-left: 0.5em;
  padding-top: 0.1em;
}

.selected-user {
  margin-left: 10em;
  margin-top: 3em;
}

.selected-user p {
  padding-bottom: 1em;
}
/*# sourceMappingURL=manageDatabase.css.map */