{% extends 'myapp/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

    <div class="home-section">
        <h2>Dashboard</h2>
        <hr>
        <div class="top">
            <div class="left-div">
                <p>{{ user.first_name }} &nbsp;<span> {{ user.last_name }}</span></p> 
                <p>{{ user.email }}</p>
            </div>
            
            <div class="right-div">
                <img class="dp" src="{% static 'images/sheraz.jpg' %}" alt="profile picture">
            </div>
        </div>
        <div class="bottom-div">
                
                <p style="font-weight: bold;">Enrolled Courses:</p>
                <div class="courses">
                {% if athlete_list|length > 0 %}
                {% for course in enrolled_courses %}
                    <div class="c1">
                        <a href="#">
                            <img class="c" src="{% static 'images/sheraz.jpg' %}" alt="course picture">
                        </a>
                        
                        <p style="font-size: 16px;">{{course.course_name}}</p>
                    </div>
                {% endfor %}
                {% else %}
                    <p> You are not enrolled in any course :) </p>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}