{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeClan</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>
    <header class="container">
        <img class="navbar-logo" src="{% static 'images/CC.jpg' %}" alt="CodeClan Logo">
        <ul class="primary-nav">
            <li class="home"><a href="#">Home</a></li>
            <li><a href="#">Explore Problems</a></li>
            <li><a href="#">Discussions</a></li>
            <li><a href="#">Contest Calendar</a></li>
        </ul>
        <ul class="secondary-nav">
            <li><a href="#">Support</a></li>
            <li><a href="#">About Us</a></li>
            <li><a class="cta" href="#">Sign Up</a></li>
        </ul>

    </header>

    <!-- continue from here -->
    <div class="hero-container">
        <div class="hero-left-col">
            <!--<p id="logo-upper-text">For Developers</p> -->
            <figure class="hero-marketing">
                <img id="sheraz" src="{% static 'images/sheraz.jpg' %}" alt="CodeClan Logo">
                <figcaption id="first-caption">CODE CLAN</figcaption>
                <figcaption id="second-caption"> EAT. SLEEP. CODE. REPEAT.</figcaption>
                <p class="CodeClan-objective">A platform to help you learn, compete and connect with Developers
                    from all over the world.</p>
                <div class="hero-cta">
                    <p id="account-prompt">Don't have an account?</p>
                    <a id="signup-cta" href="#">Sign up</a>
                </div>
            </figure>
        </div>

        <div class="hero-right-col">
            <h1>Login </h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label style="font-family: Poppins; font-size: 0.9em;">Username/Email Address</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <span></span>
                    <label style="font-family: Poppins; font-size: 0.9em;">Password</label>
                </div>
                <div style="font-family: Poppins; font-size: 0.8em;"class="pass">Forgot Password?</div>
                <input type="submit" value="Login">
                <div style="font-family: Poppins; font-size: 0.8em;"class="signup_link">
                    Not a member? <a href="#">Signup</a>
                    <div class="icon-plugins">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <i class="fa fa-github"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!--Coding Competitions, Courses, Discussions, Community. -->
    <!--
    <div class="features-container">
        <ul class="features-list">
            <li id="coding-competition-feature">
                <img src="https://cdn-icons-png.flaticon.com/512/2920/2920277.png" alt="Picture depicting Programming">
                Coding Competitions
                <blockquote>
                    Compete in coding competitions with developers from all over the world to enhance your
                    programming skills. Put your skills to the test and earn prizes and level up.
                </blockquote>
            </li>
            <li id="courses-feature">
                <img src="https://image.flaticon.com/icons/png/512/1245/1245280.png" alt="Picture depicting e-learning">
                Enroll in Courses
                <blockquote>
                    Enroll in your favourites courses, designed by our certified instructors to learn the latest
                    technologies being
                    used by developers all over the world. Sign up to learn form the best!
                </blockquote>

            </li>
            <li id="discussion-feature">
                <img src="https://image.flaticon.com/icons/png/512/1157/1157848.png"
                    alt="Picture showing people engaging in discussions">
                View Discussions.
                <blockquote>
                    View discussions on the latest coding problems. See the best answers and engage in discussions
                    with people from different backgrounds and skillsets to enhance your knowledge.
                </blockquote>

            </li>
            <li id="community-feature">
                <img src="https://cdn-icons-png.flaticon.com/512/1256/1256650.png"
                    alt="Picture showing people belonging to a community">
                Be part of a community.
                <blockquote>
                    Join the CodeClan community, and become part of something extraordinary! Learn, connect and
                    grow with developers from all over the world!
                </blockquote>

            </li>
        </ul>
    </div> -->

    <!--VS code ss,   Discussion panel wala aik section, 
     Daneesh taha khubaib reviews-->
    <section class="testimonials-section">
        <div class="container">
            <ul class="testies">
                <li>
                    <img src="{% static 'images/daneesh bootiful.jpeg' %}" alt="Person">

                    <blockquote style="font-size: 15px; font-family: Poppins;">
                        My students Mustafa, Sheraz and Muhammad have made be very proud by making such an amazing
                        project in such a small amount of time. Will definitely consider teaching them DSA and DB. A
                        proud teacher I am today. Professor Daneesh DSA notes coming to stores soon I.A
                    </blockquote>
                    <cite style="font-size: 8x; font-family: Poppins;">-Toby Daneesh</cite>
                </li>
                <li>
                    <img src="{% static 'images/hamstur.jpeg' %}" alt="Person">

                    <blockquote style="font-size: 15px; font-family: Poppins;">
                        I iz not kno anythang. Hamstur is smol. Hamstur is stoopad. Hamstur no liek stairs. Good website
                        tho. Would rate it 10/10.
                    </blockquote>
                    <cite style="font-size: 8x; font-family: Poppins;">-Hamstur</cite>
                </li>
                <li>
                    <img src="{% static 'images/khubaiyouib.jpeg' %}" alt="Person">

                    <blockquote style="font-size: 15px; font-family: Poppins;">
                        Nice website d33rs.
                    </blockquote>
                    <cite style="font-size: 8x; font-family: Poppins;">-Khubaiyouib</cite>
                </li>

            </ul>
        </div>
    </section>

    <!--<section class="contact-section">
        <div class="container">
            <div class="contact-left">
                <h2>Get Support</h2>
                <form action="">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">

                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject">

                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>

                    <input type="submit" class="send-message-cta" value="Send message">


                </form>

            </div>
            <div class="contact-right">
                <p>Social Media</p>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-linkedin-square"></a>
                <a href="#" class="fa fa-github"></a>

            </div>
        </div>
    </section>-->


    <footer>
        <div class="main-content">
            <div class="left box">
                <h2 style="font-family: Poppins;">About us</h2>
                <div class="content">
                    <p>CodeClan is a website for developers to learn, compete and improve their programming skills.</p>
                    <div class="social">
                        <a href="https://www.instagram.com/sheraz_hussain71/"><span
                                class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="https://www.instagram.com/sheraz_hussain71/"><span class="fab fa-instagram"></span></a>
                        <a href="https://www.instagram.com/sheraz_hussain71/"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>

            <div class="center box">
                <h2 style="font-family: Poppins;">Address</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span style="font-family: Poppins;" class="text">Wah Cantt, next to Kips College</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt"></span>
                        <span style="font-family: Poppins;" class="text">0900-78601</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span style="font-family: Poppins;" class="text">www.soiyyaddSheraaazHussayyn.com</span>
                    </div>
                </div>
            </div>

            <div class="right box">
                <h2 style="font-family: Poppins;">Contact us</h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div style="font-family: Poppins;" class="text">Email *</div>
                            <input type="email" required>
                        </div>
                        <div class="msg">
                            <div style="font-family: Poppins;" class="text">Message *</div>
                            <textarea rows="2" cols="25" required></textarea>
                        </div>
                        <div class="btn">
                            <button style="font-family: Poppins;" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom">
            <center>
                <span style="font-family: Poppins;" class="credit">Created By <a
                        href="https://www.instagram.com/sheraz_hussain71/">Lychee</a> | </span>
                <span style="font-family: Poppins;" class="far fa-copyright"></span><span style="font-family: Poppins;">
                    2020 All rights reserved.</span>
            </center>
        </div>
    </footer>



</body>

</html>