{% extends 'myapp/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/signUp.css' %}">
        
{% endblock %}


{% block sidenavbar %}
{% endblock %}

{% block content %}

    <!-- continue from here -->
    <div class="hero-container">
        <div class="hero-left-col">
            <!--<p id="logo-upper-text">For Developers</p> -->
            <figure class="hero-marketing">
                <img id="sheraz" src="{% static 'images/sheraz.jpg' %}" alt="CodeClan Logo">
                <figcaption style="font-size: 1.2em;" id="first-caption">CODE CLAN</figcaption>
                <figcaption id="second-caption"> EAT. SLEEP. CODE. REPEAT.</figcaption>
            </figure>
        </div>

        <div class="hero-right-col">
            <h1>Sign up</h1>
            <form method="POST" action="" class='loginfrm'>
                {% csrf_token %}
                <div class="txt_field">
                    {{form.first_name}}
                    <span></span>
                    <label style="font-family: Poppins; font-size: 0.9em;">First Name</label>
                </div>

                <div class="txt_field">
                    {{ form.last_name }}
                    <span></span>
                    <label style="font-family: Poppins; font-size: 0.9em;">Last name</label>
                </div>
                
                <div class="txt_field">
                    {{ form.username }}
                    <span></span>
                    <label style="font-family: Poppins; font-size: 0.9em;">Username</label>
                </div>
                
                <div class="txt_field">
                    {{ form.email }}
                    <span></span>
                    <label style="font-family: Poppins; font-size: 0.9em;">Email</label>
                </div>
                
                <div class="txt_field">
                    {{ form.password1 }}
                    <span></span>
                    <label style="font-family: Poppins; font-size: 0.9em;">Password</label>
                </div>
                
                <div style="font-family: Poppins; font-size: 0.9em;" class="txt_field">
                    {{ form.password2 }}
                    <span></span>
                    <label >Confirm Password</label>
                </div>

                <div style="font-family: Poppins; font-size: 0.65em;" class="pass"><p>{{ form.errors }}</p>Forgot Password?</div>
                <input type="submit" value="Signup">
                <div style="font-family: Poppins; font-size: 0.9em;" class="signup_link ">
                    Not a member? <a href="#" >Signup</a>
                    <div class="icon-plugins">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <i class="fa fa-github"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}