{% extends 'myapp/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/solveProblems.css' %}">
{% endblock %}

{% block content %}
<div class="home-section">
        <h2>Problem No. {{problem.problem_id}}</h2>
        <hr>
        <h3>Problem statement:</h3>
        <p style="font-size: 14px;">{{problem.problem_text}}</p>

        <h3>Problem Description:</h3>
        <p style="font-size: 14px;">You may solve the problem using your favourite programming language. Try to follow good
            programming practices to earn more points!</p>

        <form method="post">
            <h3>Your Code:</h3>
            <textarea rows = "17" cols = "200" name = "description" style="background-color: whitesmoke;">
             </textarea>
            <a href = "{% url "submit" %}" >Submit</a>
        </form> 
    </div>

{% endblock %}