{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeClan</title>
    <link rel="stylesheet" href="{% static 'images/viewProblems.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="container">
        <img class="navbar-logo" src="{% static 'images/CC.jpg' %}" alt="CodeClan Logo">
        <ul class="primary-nav">
            <li class="home"><a href="#">Home</a></li>
            <li><a href="#">Explore Problems</a></li>
            <li><a href="#">Discussions</a></li>
            <li><a href="#">Contest Calendar</a></li>
        </ul>
        <ul class="secondary-nav">
            <li><a href="#">Support</a></li>
            <li><a href="#">About Us</a></li>
            <li><a class="cta" href="#">Sign Up</a></li>
        </ul>

    </header>

    <div class="hero">
        <div class="sidebar">
            <div class="logo-details">
                <p>EAT. SLEEP. CODE. REPEAT.</p>
            </div>
            <ul class="nav-list">
                <li>
                </li>
                <li>
                    <a href="#">

                        <span class="links_name">Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>


                    <a href="#">

                        <span class="links_name">Home</span>
                    </a>
                    <span class="tooltip">Home</span>
                </li>
                <li>
                    <a href="#">



                        <span class="links_name">Explore Probelms</span>
                    </a>
                    <span class="tooltip">Explore Probelms</span>
                </li>
                <li>
                    <a href="#">
                        <span class="links_name">Discussions</span>
                    </a>
                    <span class="tooltip">Discussions</span>
                </li>
                <li>
                    <a href="#">
                        <span class="links_name">Contest Calender</span>
                    </a>
                    <span class="tooltip">Contest Calender</span>
                </li>
                <li>
                    <a href="#">
                        <span class="links_name">Explore Courses</span>
                    </a>
                    <span class="tooltip">Explore Courses</span>
                </li>
                <li>
                    <a href="#">
                        <span class="links_name">My Courses</span>
                    </a>
                    <span class="tooltip">My Courses</span>
                </li>
                <li>
                    <a href="a">
                        <span class="links_name">My Achievements</span>
                    </a>
                    <span class="tooltip">My Achievements</span>
                </li>
                <li>
                    <a href="a">
                        <span class="links_name">NewsFeed</span>
                    </a>
                    <span class="tooltip">NewsFeed</span>
                </li>
                <li>
                    <a href="a">
                        <span class="links_name">Edit Profie</span>
                    </a>
                    <span class="tooltip">Edit Profile</span>
                </li>

                <li class="profile">
                    <div class="profile-details">
                        <!--<img src="profile.jpg" alt="profileImg">-->
                        <div class="name_job">

                        </div>
                    </div>

                </li>
            </ul>
        </div>


    </div>
    <script>
        let sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("open");
    </script>

    <section class="home-section">
        </style>
        </head>

        <body>


            <table style="width:100%" ;>
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Problem name</th>
                        <th>Difficulty Rate</th>
                        <th>Acceptence Rate</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <caption><b>
                        <h2>Explore Probelms</h2>
                    </b></caption>
                <tr>
                    <td>1</td>
                    <td>Problem 1</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Problem 2</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Problem 3</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Problem 4</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>Problem 5</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>Problem 6</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>Problem 7</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>Problem 8</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>

                <tr>
                    <td>9</td>
                    <td>Problem 9</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>

                <tr>
                    <td>10</td>
                    <td>Problem 10</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>

                <tr>
                    <td>11</td>
                    <td>Problem 11</td>
                    <td>Difficulty Rate</td>
                    <td>Acceptence Rate</td>
                    <td>Category</td>
                </tr>
            </table>


        </body>

</html>

</section>
</section>
<!--
    

    <div class="hero-container">
        <div class="hero-left-col">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos minus delectus possimus ab optio,
                cum iusto molestiae iste. Tempora quasi amet vitae officiis natus veritatis corrupti praesentium commodi
                reprehenderit unde!</p>

        </div>

        <div class="hero-right-col">
            <div>
                <img src="" alt="User's profile picture">
                <ul>
                    <li>Full name of user</li>
                    <li>Username</li>
                    <li>Rank</li>
                    <li>Email Address</li>
                    <li>Phone number</li>
                    <li>No.of skill badges</li>
                    <li>Interests</li>
                </ul>
            </div>
        </div>
    </div> -->


<footer>
    <div class="main-content">
        <div class="left box">
            <h2 style="font-family: Poppins;">About us</h2>
            <div class="content">
                <p>CodeClan is a website for developers to learn, compete and improve their programming skills.</p>
                <div class="social">
                    <a href="https://www.instagram.com/sheraz_hussain71/"><span class="fab fa-facebook-f"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.instagram.com/sheraz_hussain71/"><span class="fab fa-instagram"></span></a>
                    <a href="https://www.instagram.com/sheraz_hussain71/"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>

        <div class="center box">
            <h2 style="font-family: Poppins;">Address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span style="font-family: Poppins;" class="text">Wah Cantt, next to Kips College</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span style="font-family: Poppins;" class="text">0900-78601</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span style="font-family: Poppins;" class="text">www.soiyyaddSheraaazHussayyn.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2 style="font-family: Poppins;">Contact us</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div style="font-family: Poppins;" class="text">Email *</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div style="font-family: Poppins;" class="text">Message *</div>
                        <textarea rows="2" cols="25" required></textarea>
                    </div>
                    <div class="btn">
                        <button style="font-family: Poppins;" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom">
        <center>
            <span style="font-family: Poppins;" class="credit">Created By <a
                    href="https://www.instagram.com/sheraz_hussain71/">Lychee</a> | </span>
            <span style="font-family: Poppins;" class="far fa-copyright"></span><span style="font-family: Poppins;">
                2020 All rights reserved.</span>
        </center>
    </div>
</footer>



</body>

</html